@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

h1 {
  color: blue;
  background-color: blanchedalmond;
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
}

h2 {
  background-color: #07cef1;
  color: black;
  text-align: center;
}

.redes {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.verde {
  background-color: aqua;
  color: black;
}

.bordes-redondos {
  border-radius: 2030px;
}

#fixy {
  font-size: 40px;
}

.navegador {
  background-color: blue;
  color: red;
  font-family: sans-serif;
}

.navegador a {
  color: yellow;
  text-decoration: none;
}

.navegador ul {
  list-style-type: none;
}

.fondo-papel {
  background-image: url("https://img.freepik.com/foto-gratis/textura-papel-rosa-arrugado_23-2147786574.jpg?w=360&t=st=1710956215~exp=1710956815~hmac=5616f0f32d284b7226d2a0e6a099fa722ced3a27166a169fab8eca06c2e79f2a");
}

.zoom-bazar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
}

.zoom {
  border: gray solid 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  box-shadow: 1px 1px 5px 1px gray;
  border-radius: 15px;
  padding: 10px;
  padding-bottom: 10px;
  margin: 2px;
}

.zoom img {
  height: 150px;
}

.button {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: black;
  color: aliceblue;
  font-family: sans-serif;
}

.celulares {
  border: #1a21e4 solid 2px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  background-color: #c6cbc9;
  padding: 15px;
}

.celulares div {
  border: black solid 3px;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  padding: 8px;
  box-shadow: 2px 2px 2px 2px green;
}

.celulares div img {
  height: 150px;
}

.celulares div p {
  font-size: 1rem;
}

.main-galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-galeria {
  display: grid;
  grid-template-areas: "img1 img1 img2 img2"
    "img3 img4 img4 img5"
    "img3 img6 img6 img5";
  grid-template-rows: repeat(3, 200px);
  grid-template-columns: repeat(4, 300px);
}

.grid-galeria div {
  overflow: hidden;
}

.img-1 {
  grid-area: img1;
  background-color: aqua;
}

.img-1 img {
  width: 100%;
}

.img-2 {
  grid-area: img2;
  background-color: blueviolet;
}

.img-2 img {
  width: 100%;
}

.img-3 {
  grid-area: img3;
  background-color: brown;
}

.img-3 img {
  height: 100%;
}

.img-4 {
  grid-area: img4;
  background-color: blue;
}

.img-4 img {
  width: 100%;
}

.img-5 {
  grid-area: img5;
  background-color: chartreuse;
}

.img-5 img {
  height: 100%;
}

.img-6 {
  grid-area: img6;
  background-color: chocolate;
}

.img-6 img {
  width: 100%;
}

.main-pf div {
  border: solid grey 1px;
  padding: 10px;
}

.main-pf a {
  display: inline-block;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: azure;
  color: #0a0a3c;
}

.main-pf a:hover {
  font-weight: bold;
  padding: 20px;
  background-color: #0a0a3c;
  color: azure;
}

.main-pf a:hover {
  font-weight: bold;
  padding: 20px;
  background-color: #0a0a3c;
  color: azure;
}

.main-pf a:active {
  background-color: yellow;
  color: black;
}

.main-pf a:visited {
  background-color: darkslategrey;
  color: #999;
}

.main-pf div:not(.padre) {
  padding-left: 40px;
}

.padre div:nth-child(1) {
  font-weight: bold;
  color: orange;
}

.footer {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #0d6efd !important;
}

.bg-body-tertiary a {
  color: yellow;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: yellow;
}

@media (max-width: 1023px) {
  .grid-galeria {
    grid-template-areas: "img1 img2"
      "img3 img4"
      "img5 img6";
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(2, 200px);
  }
}

@media (max-width: 780px) {
  h1 {
    background-color: aqua;
    font-family: sans-serif;
    width: 100%;
  }

  .celulares {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 775px) {
  .grid-galeria {
    grid-template-areas: "img1 img2"
      "img3 img4"
      "img5 img6";
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(2, 200px);
  }

  .grid-galeria img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 419px) {
  .grid-galeria {
    grid-template-areas: "img1"
      "img2"
      "img3"
      "img4"
      "img5"
      "img6";
    grid-template-rows: repeat(6, 200px);
    grid-template-columns: 1fr;
  }

  .grid-galeria img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 375px) {
  .celulares {
    grid-template-columns: 1fr;
  }
}