@import "./utilities/colors";
@import "./utilities/fonts";
@import "./utilities/reset";
@import "./utilities/component" ;


@import "./sections/header";
@import "./sections/index";
@import "./sections/footer";
@import "./sections/contactos";
@import "./sections/galeria";
@import "./sections/nosotros";
@import "./sections/servicios";



#fixy {
    font-size: 40px;
}




.verde {
    background-color: aqua;
    color: black;
}

.bordes-redondos {
    border-radius: 2030px;
}

