.main-nosotros {
    @extend .gradiente-horizontal;
    min-height: 84vh;

    h1 {
        text-align: center;
        color: $celefixy;
        font-family: $fuente-titulo;
        background-color: blanchedalmond;
        position: sticky;
        top: 0;
        width: 100%;

    }

    section {display: flex;
        -ms-flex-align: center;
        div {
            p {
                width: 800px;
                text-align: center;
            }
        }
    }

}