.flex-column{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
@mixin cajas ($color){
    background-color: $color;
    border: 2px black solid;
    width: 300px;
    height: 300px;
}